<a href="https://colab.research.google.com/github/SuleymanBat/FUNCTIONS/blob/main/Lambda_Tasks_and_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Examples with Lambda fuctions**

In [4]:
condition = True
"odd" if condition else "even"

'odd'

In [3]:
condition = False
"odd" if condition else "even"

'even'

The formula syntax for Lambda is;


**(lambda parameters: expression)(arguments)**

In [5]:
print((lambda a: a**2)(3))

9

**Usage with multiple arguments**

In [6]:
#Variation1
print((lambda x, y: (x+y)/2)(4,7)) # takes two integer and returns mean of them

5.5

In [8]:
#Variation2
meann = (lambda x, y: (x+y)/2)(4,7) # we assigned lambda to a feature
print(meann)

5.5

In [9]:
(lambda x: "odd" if x % 2 != 0 else "even")(5)

'odd'

TASK:
Define a lambda function to reverse the elements of any iterables. Use paranthesis for arguments and print the result.

In [16]:
print((lambda x: x[::-1])([1,2,3])) # we can reach a solution with indexing in any given list

[3, 2, 1]

In [17]:
print((lambda x: x[::-1])("PETER"))

RETEP

In [18]:
(lambda x: x[::-1])("PETER")

'RETEP'

TASK:
Write a python program that types "even" or 'odd' in accordance with the numbers in a list.
Use lambda function and loop. Sample list and Desired output should be a list like that [1,2,3,4]

In [28]:
numbers = [1,2,3,4]
for i in numbers:
  print(i, ":", (lambda x: "odd" if x % 2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even

The code can be like that;

In [29]:
for a in [3,7,22,-9]:
  print(a, ":", (lambda a: "odd" if a%2 != 0 else "even")(a))

3 : odd
7 : odd
22 : even
-9 : odd

TASK:
Define a lambda function to reverse the elements of any iterables.Use variable for arguments and print the result.

In [31]:
iterable = "addictive on DevOps"
rever = (lambda x: x[::-1])
rever(iterable)

'spOveD no evitcidda'

In [32]:
solver = lambda x: "odd" if x % 2 != 0 else "even"
solver(77)

'odd'

In [33]:
solver(1118)

'even'

**LAMBDA WITHIN map() function**

The formula for map is;

**map(function, iterable)**

In [34]:
  words = ["james", "michael", "kevin","alex"]
  longi = map(len, words)
  print(* longi)

5 7 5 4

Let's square all the numbers in the list using map() function and lambda.

In [36]:
iterabble = [1,2,3,4,5,6]
map(lambda a:a**2, iterabble)
output = map(lambda a:a**2, iterabble)
print(type(output))

print(list(output))

print(list(map(lambda a:a**2, iterabble)))

<class 'map'>
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [38]:
def square(b):
  return b ** 2

resullt = map(square, iterabble)
resullt

In [39]:
print(* resullt)

1 4 9 16 25 36

In [46]:
summ = lambda x, y, z, w : x + y + z + w

In [47]:
summ("j","a","n","e")

'jane'

Example:
In the example below we have combined three strings using + operator in lambda definition.

In [48]:
alpha1 = ['o','s','t','t']
alpha2 = ['n','i','e','w']
alpha3 = ['e','x','n','o']
numbers = map(lambda x, y, z: x+y+z, alpha1,alpha2,alpha3)

print(list(numbers))

['one', 'six', 'ten', 'two']

TASK:
Using lambda in map() function write a program that calculates the arithmetic means of two element pairs in the following two lists in accordance with their order and collects them into a list.

numar = [3,6,7,8]

numar1 = [1,8,4,3]

In [49]:
solve = lambda a, b : (a + b) / 2
numar = [3,6,7,8]
numar1 = [1,8,4,3]
numbers = map(solve, numar, numar1)
list(numbers)

[2.0, 7.0, 5.5, 5.5]

In [51]:
# EXAMPLE
words1 = ['you', 'much', ' hard']
words2= ['i','you','he']
words3= ['love','ate','works']

concat = lambda x, y, z : x + " " + y + " " + z
sentences = map(concat, words2, words3, words1)
sentences

In [52]:
for i in sentences:
  print(i)

i love you
you ate much
he works  hard

**LAMBDA within filter() function**

The basic formula is:

filter(function, sequence)

In [1]:
first=[0,1,2,3,4,5,6,7,8,9]

even = filter(lambda x:x%2==0, first)
print(type(even))
print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [6]:
first=[0,1,2,3,4,5,6,7,8,9]

odd = filter(lambda x:x%2 == 1, first)
odd1 = filter(lambda x:x%2 != 0, first)
odd2 = filter(lambda x: not x%2 == 0, first)
odd3 = filter(lambda x:x%2, first)

print('Odd numbers are :', list(odd))
print(* odd2)
print(* odd1)
print(* odd3)

Odd numbers are : [1, 3, 5, 7, 9]
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9

TASK:
Using lambda in filter() function, write a program that filters out words(elements of the given list) with less than 5 chars.

Print these words which has less than 5 chars on separate lines.

words = ['apple','swim','clock','me','kiwi','banana']

In [7]:
len("apple")

5

In [8]:
len("apple") < 5

False

In [9]:
len("me") < 5

True

In [10]:
words = ['apple','swim','clock','me','kiwi','banana']
for i in filter(lambda x: len(x) < 5, words) :
  print(i)

swim
me
kiwi

In [11]:
letter1=['a','b','c']
letter2=['x','y','z']

combine = map(zip, letter1, letter2)

for i in combine:
  for j in i :
    print(j)

('a', 'x')
('b', 'y')
('c', 'z')

In [13]:
glu = zip(letter1, letter2)
list(glu)

[('a', 'x'), ('b', 'y'), ('c', 'z')]