Task:

Find out if a given number is an "Armstrong Number".
An n-digit number that is the sum of the nth powers of its digits is called an n-Armstrong number. 
Write a Python program that;
takes a positive integer number from the user,
checks the entered number if it is Armstrong,
consider the negative, float and any entries other than numeric values then display a warning message to the user.

Sample inputs	Outputs
407	      is an Armstrong number
5	      is an Armstrong number
 -153	  It is an invalid entry. Don't use non-numeric, float, or negative values!
 153.87   It is an invalid entry. Don't use non-numeric, float, or negative values!
 one	  It is an invalid entry. Don't use non-numeric, float, or negative values!
 121	  121 is not an Armstrong number

In [ ]:
while True:
    number = input("enter a positive integer number : ")
    digits = len(number)
    summ = 0

    if not number.isdigit():
        print(number, " is invalid entry. Enter valid input!")

    elif int(number) >= 0 :
        for i in range(digits):
            summ == summ + int(number[i]) ** digits

        if summ == int(number):
            print(number, " is an Armstrong Number.")
            break
        else :
            print(number, " is not an Armstrong Number.Sorry")
            break

Task : Write a program that takes a number from the user and prints the result to check if it is a prime number.

The examples of the desired output are as follows :

input →  19 ⇉ output : 19 is a prime number
input →  10 ⇉ output : 10 is not a prime number

In [ ]:
kolla = int(input("Enter a positive number to check if it is a prime number : "))
count = 0

for i in range(1, kolla+1):
    if kolla % i == 0:
        count += 1
if (kolla == 0) or (kolla == 1) or (kolla >= 3):
    print(kolla, " is not a Prime number!")
else:
    print(kolla, " is a Prime number")

In [9]:
(lambda x : x ** 3)(3)

27

In [10]:
(lambda a, b : (a + b) / (a - b))(5, 3)

4.0

In [12]:
average = (lambda x, y : (x + y)/2)(3, 5)

In [13]:
print(average)

4.0

In [15]:
multiply = lambda a, b : a * b/2
print(multiply(11, 3))

16.5

In [21]:
echo_world = lambda x : x
print(echo_world('hello' * 3))

hellohellohello

In [26]:
iter = [1,2,3,4,5]

ret = map(lambda x:x**2, iter)
print(type(ret))
print(list(ret))

print(list(map(lambda x:x**2, iter)))

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [29]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']

numbers= map(lambda x, y, z: x+y+z, letter1, letter2, letter3)
print(list(numbers))

['one', 'six', 'ten', 'two']

In [31]:
number_list=[1, 2, 3, 4, 5]

print(list(map(lambda x:x * 3, number_list)))

[3, 6, 9, 12, 15]

In [40]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 

even = filter(lambda x:x % 2 == 0, first_ten)
print(type(even))
print(*"Even numbers are : ", list(even))

<class 'filter'>
E v e n   n u m b e r s   a r e   :   [0, 2, 4, 6, 8]

In [44]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

vowels = filter(lambda x:True if x in vowel_list else False, first_ten)
print(type(vowels))
print(list(vowels))

<class 'filter'>
['a', 'e', 'i']

In [46]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
convert = filter(lambda x: True if x >= 6 else False, number_list)
print(type(convert))
print(list(convert))

<class 'filter'>
[6, 7, 8, 9, 10]

In [47]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [48]:
print((lambda x: x**3)(5))

125

In [49]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [50]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [51]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [53]:
square = lambda x:x**2
print(square(5))

25

In [54]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x : "odd" if x % 2 == 1 else "even", number_list))

In [66]:
generate = (i ** 2 for i in range(6))

In [67]:
print(next(generate))

0

In [68]:
print(next(generate))

1

In [69]:
print(next(generate))

4

In [74]:
names = ["susuan", "tom", "False"]
mood = ["happy", "sad", 0]
empty = {}

print(all(names), all(mood), all(empty), sep="\n")

True
False
True

In [75]:
def add(a, b):
    print(a + b)

In [76]:
add(5,11)

16

In [84]:
def calculator(x, y, opr):
    if opr == "+" :
        print(x + y)

    elif opr == "-" :
        print(x-y)
    
    elif opr == "*" :
        print(x * y)

    elif opr == "/" :
        print(x / y)

    else:
        print("Enter a valid operator")

calculator(4,5,"+")

9

In [85]:
type(3 +5)

int

In [94]:
a = "i"
b = "love"
c = "you"

def texter(a, b, c):
    print(b + c + a, end="")


texter(c, a, b)

iloveyou