Task : Create a list consisting of Fibonacci numbers from 1 to 55 using control flow statements and range() function.

The desired output is like this:

fibonacci →  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [5]:
a = int(input(11))

def fibo_numbers(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print(list(fibo_numbers(a)))

In [8]:
fibo= [1,1]

In [9]:
for i in range(8):

    fibo.append(fibo[i] + fibo[i+1])

In [10]:
fibo

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [11]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')
city('Ulanbatur')

Athens in Europe
Ulanbatur in Europe

In [3]:
def slicer(*num):
    
    evens =[]
    odds =[]

    for i in num :
        if i % 2 == 0 :
            evens.append(i)
        else:
            odds.append(i)

    print("Even list :", evens)
    print("Odd list :", odds)

In [4]:
slicer(1,2,3,4,5,6)

Even list : [2, 4, 6]
Odd list : [1, 3, 5]

In [5]:
def organizer(**kul):
    names=[]
    ages=[]

    for key, value in kul.items():
        names.append(key)
        ages.append(value)
    print(names,ages,sep="\n")

organizer(Beth=26,Oscar=42,Justin=18,Frank=33)

['Beth', 'Oscar', 'Justin', 'Frank']
[26, 42, 18, 33]

In [6]:
def organizer(**people):

    names=[]
    ages=[]

    for keys, values in people.items():
        names.append(keys)
        ages.append(values)
    print(names,ages,sep="\n")

In [7]:
organizer(Beth=26,Oscar=42,)

['Beth', 'Oscar']
[26, 42]

In [13]:
cumle = "ben size ders anlatirkene HUZUR buluyorum. dertlerimi unutuyorum."

In [14]:
def vowel(letter):

    vowels = "a e u i o ö".split()

    if letter.lower() in vowels:
        return True
    else:
        return False

In [17]:
filter_vowels=filter(vowel,cumle)

In [20]:
print(* filter_vowels)

e i e e a a i e e u u u u o u e e i i u u u o u

TASK: 
Given two integer values, return their sum. If the two values are the same, then return double their sum.

For example:
	
print(sum_double(1, 2))
3
print(sum_double(5, 7))
12
print(sum_double(5, 5))
20

In [28]:
i=int(input("Say to me a number : "))
k=int(input("Say a number one more time : "))

if i == k :
    print((i + k)*2)
else:
    print(i + k)

20

In [33]:
def sum_double(x,y):

    if x == y :
        return (x + y)*2
    else:
        return x + y

In [34]:
sum_double(1,2)

3

In [35]:
sum_double(5,5)

20

TASK:
We have a loud talking parrot. We are in trouble if the parrot is talking and the hour is before 6 or after 21.
Define a function taking two parameters (talking and hour) to return True if we are in trouble. The argument to  talking parameter can only be True or False whether it is talking or not. The argument to hour parameter should be the current hour time in the range of 0 to 23

For example:
print(parrot_trouble(True, 5))
True
print(parrot_trouble(True, 8))
False
print(parrot_trouble(False, 22))
False

In [96]:
def parrot_trouble(talking, hour):
    
    if talking == True:

        if hour in range(0,6):
            return True
        elif hour in range(21,24):
            return True
        else:
            return False
    
    else:
        return False

In [97]:
print(parrot_trouble(True, 5))

True

In [98]:
print(parrot_trouble(True, 8))

False

In [99]:
print(parrot_trouble(False, 22))

False